Emsal.WebInt/Web References/EmsalSrv/EmsalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emsal.DAL.CodeObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emsal.DAL.CodeObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseInput">
    <xs:sequence>
      <xs:element name="ChannelId" nillable="true" type="xs:string" />
      <xs:element name="IpNumber" nillable="true" type="xs:string" />
      <xs:element name="RequestDate" type="xs:dateTime" />
      <xs:element name="TransactionId" type="xs:long" />
      <xs:element name="userID" type="xs:long" />
      <xs:element name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInput" nillable="true" type="tns:BaseInput" />
  <xs:complexType name="BaseOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="ViewString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseOutput" nillable="true" type="tns:BaseOutput" />
</xs:schema>