Emsal.WebInt/Web References/EmsalSrv/EmsalService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emsal.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emsal.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblProductionCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductionCalendar" nillable="true" type="tns:tblProductionCalendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductionCalendar" nillable="true" type="tns:ArrayOftblProductionCalendar" />
  <xs:complexType name="tblProductionCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdateStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="day" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="demand_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="months_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="oclock" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="offer_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="partOfyear" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="transportation_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductionCalendar" nillable="true" type="tns:tblProductionCalendar" />
  <xs:complexType name="tblProductPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partOfYear" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductPrice" nillable="true" type="tns:tblProductPrice" />
  <xs:complexType name="ArrayOftblProductPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductPrice" nillable="true" type="tns:tblProductPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductPrice" nillable="true" type="tns:ArrayOftblProductPrice" />
  <xs:complexType name="tblAuthenticatedPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblAuthenticatedPart" nillable="true" type="tns:tblAuthenticatedPart" />
  <xs:complexType name="ArrayOftblAuthenticatedPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblAuthenticatedPart" nillable="true" type="tns:tblAuthenticatedPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblAuthenticatedPart" nillable="true" type="tns:ArrayOftblAuthenticatedPart" />
  <xs:complexType name="tblPrivilegedRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticatedPartID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="RoleID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPrivilegedRole" nillable="true" type="tns:tblPrivilegedRole" />
  <xs:complexType name="ArrayOftblPrivilegedRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPrivilegedRole" nillable="true" type="tns:tblPrivilegedRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPrivilegedRole" nillable="true" type="tns:ArrayOftblPrivilegedRole" />
  <xs:complexType name="tblProductProfileImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductProfileImage" nillable="true" type="tns:tblProductProfileImage" />
  <xs:complexType name="ArrayOftblProductProfileImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductProfileImage" nillable="true" type="tns:tblProductProfileImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductProfileImage" nillable="true" type="tns:ArrayOftblProductProfileImage" />
  <xs:complexType name="tblPRM_ASCBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdateStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPRM_ASCBranch" nillable="true" type="tns:tblPRM_ASCBranch" />
  <xs:complexType name="ArrayOftblPRM_ASCBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPRM_ASCBranch" nillable="true" type="tns:tblPRM_ASCBranch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPRM_ASCBranch" nillable="true" type="tns:ArrayOftblPRM_ASCBranch" />
  <xs:complexType name="tblPRM_KTNBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPRM_KTNBranch" nillable="true" type="tns:tblPRM_KTNBranch" />
  <xs:complexType name="ArrayOftblPRM_KTNBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPRM_KTNBranch" nillable="true" type="tns:tblPRM_KTNBranch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPRM_KTNBranch" nillable="true" type="tns:ArrayOftblPRM_KTNBranch" />
  <xs:complexType name="tblBranchResponsibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="adminUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="branchId" type="xs:long" />
      <xs:element minOccurs="0" name="branchType_eVId" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblBranchResponsibility" nillable="true" type="tns:tblBranchResponsibility" />
  <xs:complexType name="ArrayOftblBranchResponsibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblBranchResponsibility" nillable="true" type="tns:tblBranchResponsibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblBranchResponsibility" nillable="true" type="tns:ArrayOftblBranchResponsibility" />
  <xs:complexType name="tblProduction_Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Demand_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Offer_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Potential_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentSize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="documentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="document_type_ev_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grup_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProduction_Document" nillable="true" type="tns:tblProduction_Document" />
  <xs:complexType name="ArrayOftblProduction_Document">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProduction_Document" nillable="true" type="tns:tblProduction_Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProduction_Document" nillable="true" type="tns:ArrayOftblProduction_Document" />
  <xs:complexType name="tblProduct_Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Product_catalog_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentSize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="documentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="document_type_ev_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProduct_Document" nillable="true" type="tns:tblProduct_Document" />
  <xs:complexType name="ArrayOftblProduct_Document">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProduct_Document" nillable="true" type="tns:tblProduct_Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProduct_Document" nillable="true" type="tns:ArrayOftblProduct_Document" />
  <xs:complexType name="tblProductionControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Demand_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EnumCategoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EnumValueId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Offer_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Potential_Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updateUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductionControl" nillable="true" type="tns:tblProductionControl" />
  <xs:complexType name="ArrayOftblProductionControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductionControl" nillable="true" type="tns:tblProductionControl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductionControl" nillable="true" type="tns:ArrayOftblProductionControl" />
  <xs:complexType name="tblProduction_Calendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Months" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Transportation_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProduction_Calendar" nillable="true" type="tns:tblProduction_Calendar" />
  <xs:complexType name="ArrayOftblProduction_Calendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProduction_Calendar" nillable="true" type="tns:tblProduction_Calendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProduction_Calendar" nillable="true" type="tns:ArrayOftblProduction_Calendar" />
  <xs:complexType name="tblForeign_Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="actualFunctionAddressId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="legalAddressId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="legality_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="manager_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="organisationType_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="parent_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="party_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="voen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblForeign_Organization" nillable="true" type="tns:tblForeign_Organization" />
  <xs:complexType name="tblPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="birtday" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationLevel_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPerson" nillable="true" type="tns:tblPerson" />
  <xs:complexType name="tblComMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Production_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fromUserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="groupID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="isRead" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="toUserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblComMessage" nillable="true" type="tns:tblComMessage" />
  <xs:complexType name="ArrayOftblComMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblComMessage" nillable="true" type="tns:tblComMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblComMessage" nillable="true" type="tns:ArrayOftblComMessage" />
  <xs:complexType name="ArrayOftblPRM_AdminUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPRM_AdminUnit" nillable="true" type="tns:tblPRM_AdminUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPRM_AdminUnit" nillable="true" type="tns:ArrayOftblPRM_AdminUnit" />
  <xs:complexType name="tblPRM_AdminUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnumValueID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPRM_AdminUnit" nillable="true" type="tns:tblPRM_AdminUnit" />
  <xs:complexType name="ArrayOftblForeign_Organization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblForeign_Organization" nillable="true" type="tns:tblForeign_Organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblForeign_Organization" nillable="true" type="tns:ArrayOftblForeign_Organization" />
  <xs:complexType name="ArrayOftblProductCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductCatalog" nillable="true" type="tns:tblProductCatalog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductCatalog" nillable="true" type="tns:ArrayOftblProductCatalog" />
  <xs:complexType name="tblProductCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogLevel" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProductCatalogParentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="canBeOrder" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="measurementUnit_enumValueId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductCatalog" nillable="true" type="tns:tblProductCatalog" />
  <xs:complexType name="tblUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="RoleId" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblUserRole" nillable="true" type="tns:tblUserRole" />
  <xs:complexType name="ArrayOftblUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblUserRole" nillable="true" type="tns:tblUserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblUserRole" nillable="true" type="tns:ArrayOftblUserRole" />
  <xs:complexType name="ArrayOftblUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblUser" nillable="true" type="tns:tblUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblUser" nillable="true" type="tns:ArrayOftblUser" />
  <xs:complexType name="tblUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASC_ID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="KTN_ID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LastLoginDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LastLoginIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType_eV_ID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblUser" nillable="true" type="tns:tblUser" />
  <xs:complexType name="tblRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="party_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="roleType_enumCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblRole" nillable="true" type="tns:tblRole" />
  <xs:complexType name="ArrayOftblRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblRole" nillable="true" type="tns:tblRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblRole" nillable="true" type="tns:ArrayOftblRole" />
  <xs:complexType name="tblExpertise">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expertiseType_enumCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblExpertise" nillable="true" type="tns:tblExpertise" />
  <xs:complexType name="ArrayOftblExpertise">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblExpertise" nillable="true" type="tns:tblExpertise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblExpertise" nillable="true" type="tns:ArrayOftblExpertise" />
  <xs:complexType name="tblTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="titleType_enumCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblTitle" nillable="true" type="tns:tblTitle" />
  <xs:complexType name="ArrayOftblTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblTitle" nillable="true" type="tns:tblTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblTitle" nillable="true" type="tns:ArrayOftblTitle" />
  <xs:complexType name="tblParty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblParty" nillable="true" type="tns:tblParty" />
  <xs:complexType name="ArrayOftblParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblParty" nillable="true" type="tns:tblParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblParty" nillable="true" type="tns:ArrayOftblParty" />
  <xs:complexType name="tblOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="actualFunctionAddressId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="legalAddressId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="legality_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="manager_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="organization_type_eV_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="parent_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="party_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:long" />
      <xs:element minOccurs="0" name="voen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblOrganization" nillable="true" type="tns:tblOrganization" />
  <xs:complexType name="ArrayOftblOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblOrganization" nillable="true" type="tns:tblOrganization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblOrganization" nillable="true" type="tns:ArrayOftblOrganization" />
  <xs:complexType name="tblConfirmationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblConfirmationMessage" nillable="true" type="tns:tblConfirmationMessage" />
  <xs:complexType name="tblProductCatalogControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnumCategoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EnumValueId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updateUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductCatalogControl" nillable="true" type="tns:tblProductCatalogControl" />
  <xs:complexType name="ArrayOftblProductCatalogControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductCatalogControl" nillable="true" type="tns:tblProductCatalogControl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductCatalogControl" nillable="true" type="tns:ArrayOftblProductCatalogControl" />
  <xs:complexType name="tblCommunication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="comType" type="xs:int" />
      <xs:element minOccurs="0" name="communication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priorty" type="xs:int" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCommunication" nillable="true" type="tns:tblCommunication" />
  <xs:complexType name="ArrayOftblCommunication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCommunication" nillable="true" type="tns:tblCommunication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCommunication" nillable="true" type="tns:ArrayOftblCommunication" />
  <xs:complexType name="tblOffer_Production">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="grup_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSelected" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="monitoring_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="potentialProduct_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="productAddress_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="product_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="state_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblOffer_Production" nillable="true" type="tns:tblOffer_Production" />
  <xs:complexType name="ArrayOftblOffer_Production">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblOffer_Production" nillable="true" type="tns:tblOffer_Production" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblOffer_Production" nillable="true" type="tns:ArrayOftblOffer_Production" />
  <xs:complexType name="tblPotential_Production">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fullProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grup_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSelected" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="monitoring_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="productAddress_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="product_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="state_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPotential_Production" nillable="true" type="tns:tblPotential_Production" />
  <xs:complexType name="ArrayOftblPotential_Production">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPotential_Production" nillable="true" type="tns:tblPotential_Production" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPotential_Production" nillable="true" type="tns:ArrayOftblPotential_Production" />
  <xs:complexType name="tblDemand_Production">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fullProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grup_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAnnouncement" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSelected" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="monitoring_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="product_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity_type_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="state_eV_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblDemand_Production" nillable="true" type="tns:tblDemand_Production" />
  <xs:complexType name="ArrayOftblDemand_Production">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblDemand_Production" nillable="true" type="tns:tblDemand_Production" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblDemand_Production" nillable="true" type="tns:ArrayOftblDemand_Production" />
  <xs:complexType name="tblAnnouncement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="address_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity_type_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblAnnouncement" nillable="true" type="tns:tblAnnouncement" />
  <xs:complexType name="ArrayOftblAnnouncement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblAnnouncement" nillable="true" type="tns:tblAnnouncement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblAnnouncement" nillable="true" type="tns:ArrayOftblAnnouncement" />
  <xs:complexType name="tblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expertise_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="organization_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="party_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="personType_enumCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="title_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEmployee" nillable="true" type="tns:tblEmployee" />
  <xs:complexType name="ArrayOftblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEmployee" nillable="true" type="tns:tblEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEmployee" nillable="true" type="tns:ArrayOftblEmployee" />
  <xs:complexType name="tblEnumCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isProductDescibe" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEnumCategory" nillable="true" type="tns:tblEnumCategory" />
  <xs:complexType name="ArrayOftblEnumCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEnumCategory" nillable="true" type="tns:tblEnumCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEnumCategory" nillable="true" type="tns:ArrayOftblEnumCategory" />
  <xs:complexType name="tblEnumValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enumCategory_enumCategoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEnumValue" nillable="true" type="tns:tblEnumValue" />
  <xs:complexType name="ArrayOftblEnumValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEnumValue" nillable="true" type="tns:tblEnumValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEnumValue" nillable="true" type="tns:ArrayOftblEnumValue" />
  <xs:complexType name="ArrayOftblPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPerson" nillable="true" type="tns:tblPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPerson" nillable="true" type="tns:ArrayOftblPerson" />
  <xs:complexType name="tblPRM_Thoroughfare">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminUnitID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPRM_Thoroughfare" nillable="true" type="tns:tblPRM_Thoroughfare" />
  <xs:complexType name="ArrayOftblPRM_Thoroughfare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPRM_Thoroughfare" nillable="true" type="tns:tblPRM_Thoroughfare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPRM_Thoroughfare" nillable="true" type="tns:ArrayOftblPRM_Thoroughfare" />
  <xs:complexType name="tblAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="addressDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adminUnit_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thoroughfare_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="user_type_eV_Id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblAddress" nillable="true" type="tns:tblAddress" />
  <xs:complexType name="ArrayOftblAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblAddress" nillable="true" type="tns:tblAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblAddress" nillable="true" type="tns:ArrayOftblAddress" />
  <xs:complexType name="tblProductAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="addressDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adminUnit_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="demand_production_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullAddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offer_production_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="potensial_production_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="production_type_ev_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="thoroughfare_Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="updatedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProductAddress" nillable="true" type="tns:tblProductAddress" />
  <xs:complexType name="ArrayOftblProductAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProductAddress" nillable="true" type="tns:tblProductAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProductAddress" nillable="true" type="tns:ArrayOftblProductAddress" />
  <xs:complexType name="ArrayOftblConfirmationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblConfirmationMessage" nillable="true" type="tns:tblConfirmationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblConfirmationMessage" nillable="true" type="tns:ArrayOftblConfirmationMessage" />
</xs:schema>