Emsal.WebInt/Web References/TaxesSRV/TaxesIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaxesIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITaxesIntegrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://exidmet1.agro.gov.az:57388/TaxesIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://exidmet1.agro.gov.az:57388/TaxesIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://exidmet1.agro.gov.az:57388/TaxesIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaxesIntegration.BLL.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaxesIntegrationService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITaxesIntegrationService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITaxesIntegrationService_getOrganisationInfobyVoen_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrganisationInfobyVoen" />
  </wsdl:message>
  <wsdl:message name="ITaxesIntegrationService_getOrganisationInfobyVoen_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrganisationInfobyVoenResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaxesIntegrationService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesIntegrationService/DoWork" message="tns:ITaxesIntegrationService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesIntegrationService/DoWorkResponse" message="tns:ITaxesIntegrationService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrganisationInfobyVoen">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesIntegrationService/getOrganisationInfobyVoen" message="tns:ITaxesIntegrationService_getOrganisationInfobyVoen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesIntegrationService/getOrganisationInfobyVoenResponse" message="tns:ITaxesIntegrationService_getOrganisationInfobyVoen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaxesIntegrationService" type="tns:ITaxesIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITaxesIntegrationService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganisationInfobyVoen">
      <soap:operation soapAction="http://tempuri.org/ITaxesIntegrationService/getOrganisationInfobyVoen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITaxesIntegrationService" type="tns:ITaxesIntegrationService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITaxesIntegrationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITaxesIntegrationService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganisationInfobyVoen">
      <soap:operation soapAction="http://tempuri.org/ITaxesIntegrationService/getOrganisationInfobyVoen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxesIntegrationService">
    <wsdl:port name="BasicHttpBinding_ITaxesIntegrationService" binding="tns:BasicHttpBinding_ITaxesIntegrationService">
      <soap:address location="http://exidmet1.agro.gov.az:57388/TaxesIntegrationService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITaxesIntegrationService" binding="tns:BasicHttpsBinding_ITaxesIntegrationService">
      <soap:address location="https://exidmet1.agro.gov.az:57389/TaxesIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>