Emsal.WebInt/Web References/TaxesSRV/TaxesIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaxesIntegration.BLL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaxesIntegration.BLL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VOENDATA">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MidleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOEN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VOENDATA" nillable="true" type="tns:VOENDATA" />
</xs:schema>